<!--
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

<!-- SERVELETS INITIALIZING -->
  <servlet>
    <servlet-name>Registration</servlet-name>
    <jsp-file>/jsp/Registration.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Logging</servlet-name>
    <jsp-file>/jsp/Logging.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Main</servlet-name>
    <jsp-file>/jsp/Main.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Info</servlet-name>
    <jsp-file>/jsp/Info.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Users</servlet-name>
    <jsp-file>/jsp/Users.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Messages</servlet-name>
    <jsp-file>/jsp/Messages.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ProcessMessages</servlet-name>
    <jsp-file>/jsp/ProcessMessages.jsp</jsp-file>
  </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <jsp-file>/test/Test.jsp</jsp-file>
    </servlet>
  <servlet>
    <servlet-name>FeedbackProcess</servlet-name>
    <servlet-class>beans.FeedbackProcess</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <jsp-file>/jsp/Feedback.jsp</jsp-file>
    </servlet>

<!-- SERVELETS MAPPING -->
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logging</servlet-name>
    <url-pattern>/logging</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/messages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessMessages</servlet-name>
    <url-pattern>/processmessages</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedbackProcess</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/feedback_send</url-pattern>
    </servlet-mapping>

  <resource-ref>
    <res-ref-name>jdbc/Library</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>

<!-- HEADER AND FOOTER INCLUDING -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/jsp/*</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <include-prelude>/jspf/header.jspf</include-prelude>
      <include-coda>/jspf/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>

<!-- FILTER INITIALIZING AND MAPPING -->
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>filters.SessionFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>Users</servlet-name>
    <servlet-name>Main</servlet-name>
    <servlet-name>Messages</servlet-name>
    <servlet-name>ProcessMessages</servlet-name>
  </filter-mapping>

</web-app>